<%= nested_form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <strong> Select your Products: </strong>
  <%= f.fields_for :order_details do |detail_form| %>
	  <%= detail_form.collection_select :product_id, Product.order(:name),:id,:name, include_blank: true %>

	    <%= detail_form.number_field :amount %>
	      <%= detail_form.link_to_remove "Remove this task" %>
      <% end %>
      <p><%= f.link_to_add "Add a Product", :order_details%></p>

  
<p>
<strong> Table number: </strong>
<br/>
<%= f.number_field :table %>
</p>

 <div class="actions">
    <%= f.submit class: "btn btn-default " %>
  </div>


  <%#= f.button :submit, :value => 'Confirmar', :method => 'json' %>
<% end %>
