<p id="notice"><%= notice %></p>

<h1>Listing Tables</h1>

<%= link_to 'New Table', new_table_path %>

<% @tables= @tables.in_groups_of( (@tables.size/2.0).ceil, false ) if @tables.size > 0 %>
    <% @tables.first.each_with_index do |table,index| %>


      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
        <!--     <img data-src="" alt="...">   -->
            <div class="caption">
              <h3><%= table.number %></h3>
              <p>Status: <%= table.table_state %></p>
            </div>
        <td><%= link_to 'Edit', edit_table_path(table) %></td>
        <td><%= link_to 'Destroy', @tables[1][index], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
      

		  <% unless @tables[1][index].nil? %>
         <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
        <!--     <img data-src="" alt="...">   -->
            <div class="caption">
              <h3><%= @tables[1][index].number %></h3>
              <p>Status: <%= @tables[1][index].table_state %></p>
            </div>
        <td><%= link_to 'Edit', edit_table_path(@tables[1][index]) %></td>
        <td><%= link_to 'Destroy', @tables[1][index], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
  </div>
  <% end %>
      </div>
    
<% end %>
