<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @table.number %>
</p>

<p>
  <strong>Table state:</strong>
  <%= @table.table_state %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
