<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<% @products= @products.in_groups_of( (@products.size/2.0).ceil, false ) if @products.size > 0 %>
<% @products.first.each_with_index do |product_p,index|  %>


      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
        <!--     <img data-src="" alt="...">   -->
            <div class="caption">
              <h3><%= product_p.name %></h3>
              <p>Price: <%= product_p.price %></p>
              <p>Product type: <%= product_p.product_type%></p>
            </div>
          </div>
        </div>
      

         <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
        <!--     <img data-src="" alt="...">   -->
            <div class="caption">
              <h3><%= @products[1][index].name %></h3>
              <p>Price: <%= @products[1][index].price %></p>
              <p>Product type: <%= @products[1][index].product_type%></p>
            </div>
          </div>
        </div>
      </div>
    
<% end %>


